.navbar-inverse{
	border-radius: 0px;
}

.panel{
	border-radius: 0px;
}

.btn{
	border-radius: 0px;
}

.well{
	border-radius: 0px;
}

.panel-heading{
	border-radius: 0px;
}

.navbar-inverse .active{
	font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a{
	color: #95958C;
}

.navbar-inverse .navbar-brand{
	color: #FFF;
	font-weight: bold;
	font-size: 22px
}

.form-control {
    border-radius: 0px;
}

.semi-bold{
	font-weight: 700;
}

.text-right{
	text-align: right;
}

.cPointer{
	cursor: pointer;
}

.m-t-25 {
    margin-top: 25px;
}